header {
    background-color: white; /* Fondo blanco */
    padding: 10px 20px;
    border-bottom: 5px solid #00274D; /* Línea azul oscuro */
}

.header-container {
    display: flex;
    align-items: center; /* Alinear verticalmente */
    justify-content: space-between; /* Centrar contenido */
}

.logo-left,
.logo-right {
    width: 10px; /* Tamaño ajustable */
    height: auto;
    margin: 10px;
}

.title-container {
    text-align: center;
    flex-grow: 1; /* Permite que ocupe el espacio central */
}

/* Estilo del título */
h1 {
    font-size: 30px;
    font-weight: bold;
    color: #00274D; /* Azul oscuro */
    margin: 3px 0;
}

/* Estilo de la descripción */
.descripcion {
    font-size: 14px;
    color: #555;
    margin: 0;
}

body {
    background-image: url('https://diarionucleo.com/media/cache/75/70/1685455309136-01-9f659a.jpg'); /* URL de la imagen */
    background-size: cover; /* Ajusta la imagen al tamaño de la pantalla */
    background-attachment: fixed; /* Hace que la imagen quede fija al hacer scroll */
    background-position: center; /* Centra la imagen */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body::after {
    content: ""; /* Necesario para el pseudo-elemento */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4); /* Fondo blanco semi-transparente */
    z-index: -1; /* Coloca la capa detrás del contenido */
}

.section-container {
    margin: 20px 40px; /* Margen a los lados y entre secciones */
    position: relative;
}

.section-title {
    font-size: 36px;
    font-weight: bold;
    color: #00274D; /* Azul oscuro */
    margin-bottom: 0px; /* Espacio entre el título y la caja */
}

.iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.navbar {
    background-color: #00274D; /* Barra azul oscuro */
    padding: 15px 0;
    text-align: center;
}

.nav-tabs {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-tabs li {
    margin: 0 20px;
}

.nav-tabs a {
    text-decoration: none;
    color: white;
    padding: 30px 50px; /* Aumentar tamaño de las pestañas */
    background-color: #003366; /* Fondo de las pestañas */
    border-radius: 3px; /* Bordes redondeados */
    font-size: 30px; /* Aumentar el tamaño de la fuente */
    transition: 0.3s;
}

.nav-tabs a:hover {
    background-color: #004080; /* Color de fondo al pasar el ratón */
}

.content {
    text-align: center;
    padding: 50px 20px;
}
